/* /Pages/Game.razor.rz.scp.css */
.moves[b-wcoaa2srnf] {
    float: right;
}

.board[b-wcoaa2srnf] {
    float: right;
}
/* /Shared/Board.razor.rz.scp.css */
.chessboard[b-m7ovhaz1ob] {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1/1;
}

.chessboard .board-row[b-m7ovhaz1ob] {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chessboard div[b-m7ovhaz1ob] {
    background: #FFC680;
}

.chessboard .board-row:nth-child(odd) div:nth-child(even)[b-m7ovhaz1ob] {
    background: #86442A;
}

.chessboard .board-row:nth-child(even) div:nth-child(odd)[b-m7ovhaz1ob] {
    background: #86442A;
}

.chessboard .board-row div[b-m7ovhaz1ob] {
    display: grid;
}
/* /Shared/Cell.razor.rz.scp.css */
.cell[b-f0bi5zocjj] {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 6vw;
}

.selectedCell[b-f0bi5zocjj]{
    background: #1189a4;
}

.highlightedCell[b-f0bi5zocjj] {
    background: #11a472;
}

.whitePiece[b-f0bi5zocjj] {
    color: #FFF;
    user-select: none;
    display: grid;
}

.blackPiece[b-f0bi5zocjj] {
    color: #000;
    user-select: none;
}
/* /Shared/MainLayout.razor.rz.scp.css */
main[b-e2ro1zzibg] {
    display: grid;
    grid-template-columns: 3fr 20ch;
}

.moves[b-e2ro1zzibg] {
    background: #DDD;
}
/* /Shared/Moves.razor.rz.scp.css */
.moves[b-we74unigj1] {
    margin: 0 0 0 1ch;
}
