@using BlazorWAChess.ViewModel
@using GameLogic
<div class="chessboard">
    @for (var y = 7; y >= 0; y--)
    {
        <div class="board-row">
        @for (var x = 0; x < 8; x++)
        {
            <div><Cell CellModel="@GameModel!.Cells[y,x]" OnCellClicked="OnCellClicked" /></div>
        }
        </div>
    }
</div>

@code {
    [Parameter]
    public EventCallback OnMoveMade { get; set; }

    [Parameter]
    public GameVM? GameModel {get; set;}

    private void OnCellClicked((int X, int Y) position)
    {
        var pieceMoved = GameModel!.CellOnClick(position.X, position.Y);
        if (pieceMoved)
        {
            GameModel!.Update();
            OnMoveMade.InvokeAsync();
        }
        StateHasChanged();
    }
}


