@using BlazorWAChess.ViewModel
@using GameLogic
<table id="chessboard">
    @for (var y = 7; y >= 0; y--)
    {
        <tr>
        @for (var x = 0; x < 8; x++)
        {
            <td><Cell CellModel="@_game!.Cells[y,x]" GameModel="@_game" OnBoardChanged="OnBoardChanged" /></td>
        }
        </tr>
    }
</table>

@code {
    private GameVM? _game;

    [Parameter]
    public EventCallback OnMoveMade { get; set; }

    [Parameter]
    public Game? GameModel {get; set;}

    protected override void OnInitialized()
    {
        _game = new GameVM(GameModel!);
        _game.Update();
    }

    private void OnBoardChanged(bool pieceMoved)
    {
        if (pieceMoved)
        {
            _game!.Update();
            OnMoveMade.InvokeAsync();
        }
        StateHasChanged();
    }
}


