@using BlazorWAChess.ViewModel
@using GameLogic
<table id="chessboard">
    @for (var y = 7; y >= 0; y--)
    {
        <tr>
        @for (var x = 0; x < 8; x++)
        {
            <td><Cell CellModel="@Game!.Cells[y,x]" GameModel="@Game" OnBoardChanged="OnBoardChanged" /></td>
        }
        </tr>
    }
</table>

@code {
    private Game _gameModel { get; } = new Game();
    public GameVM? Game { get; private set; }

    protected override void OnInitialized()
    {
        Game = new GameVM(_gameModel);
        Game.Update();
    }

    private void OnBoardChanged(bool pieceMoved)
    {
        if (pieceMoved)
        {
            Game!.Update();
        }
        StateHasChanged();
    }
}


