.cell {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 6vw;
}

.selectedCell{
    background: #1189a4;
}

.highlightedCell {
    background: #11a472;
}

.whitePiece {
    color: #FFF;
    user-select: none;
    display: grid;
}

.blackPiece {
    color: #000;
    user-select: none;
}
